/* font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
header {
    position: relative;
    background-color: rgb(160, 112, 41);
    height: 100vh;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}
header > * {
    position: absolute;
}
header img {
    height: 50%;
    bottom: 0;
    right: 0;
}
header div.welcome {
    z-index: 1;
    top: 7%;
    left: 5%;
    right: 5%;
    text-align: center;
    font-family: "Saira Condensed",sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}
header h1 {
    font-size: 20px;
    margin-top: 15px;
}
header h2 {
    font-size: 20px;
    font-weight: normal;
}
header button {
    font-size: 12px;
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    line-height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    border: 2px solid white;
}
@media (orientation:portrait) and (min-width:320px) {
    header img {
        left: -100px;
        height: 60%;
    }
    }
@media (orientation:portrait) and (min-width:360px) {
header h1 {
font-size: 24px;
}
header h2 {
font-size: 24px;
}
header button {
    margin-top: 24px;
    line-height: 40px;
    font-size: 16px;

}
}
@media (orientation:portrait) and (min-width:410px) {
    header h1 {
        font-size: 28px;
    }
    header h2 {
        font-size: 28px;
    }
    header button {
        font-size: 16px;
        margin-top: 40px;
    }
    header img {
        height: 65%;
        left:-50%;
        bottom: -20px;
    }
}
@media (orientation:portrait) and (min-width:768px) {
    header p {
        font-size: 50px;
    }
    header h1 {
        font-size: 40px;
    }
    header h2 {
        font-size: 40px;
    }
    header button {
        font-size: 22px;
        line-height: 50px;
        margin-top: 40px;
    }
    header img {
        height: 70%;
        left:-30%;
        bottom: -20px;
    }
}
@media (orientation: landscape) {
    header img {
        height: 80%;
        bottom: 0;
        right: -5%;
    }
    header div.welcome {
        top: 15%;
        left: 7%;
        right: 48%;
    }
    header button {
        margin-top: 40px;
    }
}
@media (orientation:landscape) and (min-width:640px)  {
    header h1 {
    font-size: 28px;
    }
    header h2 {
        font-size: 28px;
    }
    header button {
        font-size: 16px;
        line-height: 40px;
    }
    }
    @media (orientation:landscape) and (min-width:1024px)  {
        header p {
        font-size: 56px;
        }
        header h1 {
        margin-top: 40px;
        font-size: 34px;
        }
        header h2 {
            font-size: 34px;
        }
        header button {
            margin-top: 80px;
            font-size: 20px;
            line-height: 50px;
        }
        header img {
            height: 110%;
            right: -50%;
            bottom: -20px;
        }
    }
    @media (orientation:landscape) and (min-width:1280px)  {
        header div.welcome {
            text-align: left;
            left: 6%;
        }
        header p {
            font-size: 100px;
        }
        header h1 {
        font-size: 50px;
        }
        header h2 {
            font-size: 50px;
        }
        header button {
            margin-top: 100px;
            font-size: 30px;
            line-height: 70px;
            padding: 0 40px;
            border-width: 3px;
        }
        }
        @media (orientation:landscape) and (min-width:1600px)  {
            header p {
                font-size: 120px;
            }
            header h1 {
            margin-top: 40px;
            font-size: 60px;
            }
            header h2 {
                font-size: 60px;
                margin-left: -20px;
            }
            header img {
                height: 120%;
                left: 25%;
                bottom: -100px;
            }
            header button {
                font-size: 30px;
                line-height: 90px;
                padding: 0 40px;
                border-width: 3px;
            }
            
            }
            @media (min-width:1024px)   {
                header button {
                    transition: .3s;
                }
                header button:hover {
                    cursor: pointer;
                    background-color: white;
                    color: #111;
                }
            }
            /* Sekcja 1 nasze cechy */
.features {
    margin-top: 50px;
    padding: 5%;
    text-align: center;
}
.features h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.features h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}
.features p {
    font-family: 'Saira';
    font-size: 12px;
    font-weight: 300;
    margin: 20px 0;
}
.features img {
    width: 100%;
    margin: 5px 0;
    max-width: 375px;
}
@media (min-width:320px) {
    .features p {
        font-size: 16px;
    }
}
@media (min-width:360px) {
    .features p {
        font-size: 14px;
    }
}
@media (min-width:768px) {
    .features h1 {
        font-size: 32px;
    }
    .features h2 {
        font-size: 30px;
    }
    .features p {
        font-size: 22px;
    }
}
@media (min-width:1024px) {
    .features {
        margin-top: 50px;
        padding:5% 2%;
        text-align: center;
     }
    .feature {
        float: left;
        width: 33%;
        padding: 20px;
    }
    .features h1 {
        font-size: 36px;
    }
    .features h2 {
        font-size: 22px;
    }
    .features p {
        font-size: 20px;
        line-height: 120%;
        padding: 0 10px;
    }
}
@media (min-width:1600px) {
    .features {
        max-width: 1600px;
        margin:50px auto;
        padding:5% 2%;
        text-align: center;
     }

    .feature {
        padding: 30px;
    }
    .features h1 {
        font-size: 60px;
    }
    .features h2 {
        font-size: 32px;
    }
    .features p {
        font-size: 21px;
        line-height: 130%;
        padding: 0 10px;
    }
/* portfolio */
}

.portfolio {
    background-color: black;
    padding: 10px 0 30px;
}

.portfolio h1 {
    font-size: 28px;
    font-family: 'Saira Condensed', sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 10 20px;
    margin-bottom: 15px;
}

.portfolio .web img {
    width: 100%;
}

.portfolio .about {
    color: white;
    font-family: 'Saira', sans-serif;
    font-weight: normal;
    padding: 10px 20px 20px 0;
    text-align: left;
}

.portfolio .about h2 {
    font-size: 18px;
    border-bottom: 2px solid white;
    margin-bottom: 12px;
    padding-bottom: 6px;
    text-indent: 20px;
}

.portfolio .about p {
    font-size: 12px;
    padding-left: 20px;
}

.portfolio .project {
    max-height: 1400px;
    margin: 0 auto;
}

.portfolio .project:nth-of-type(odd) {
    background-color: orange;
}

.portfolio .project:nth-of-type(even) {
    background-color: rgb(67, 70, 255);
}

@media (min-width:768px) and (orientation:portrait) {
    .portfolio h1 {
        font-size: 40px;
        padding: 20px 0;
    }

    .portfolio .about h2 {
        font-size: 28px;
        text-indent: 40px;
    }

    .portfolio .about p {
        font-size: 18px;
        padding-left: 40px;
    }

    .portfolio .project {
        margin-bottom: 40px;
    }

}
@media (min-width:768px) {

    .portfolio h1 {
      font-size: 40px;
    }
  
    .portfolio .about h2 {
      font-size: 28px;
      text-indent: 40px;
    }
  
    .portfolio .about p {
      font-size: 18px;
      padding-left: 40px;
    }
  
    .portfolio .project {
      margin-bottom: 40px;
    }
  
  }
@media (orientation:landscape) { 
    .web,.about {
        width: 50%;
        float: left;
    }

    .web img {
        display: block;
    }

.portfolio .project:nth-of-type(even) .web {
    float: right;
} 
.portfolio .project:nth-of-type(even) 
.about  {
padding-right: 0;
}
.portfolio .project:nth-of-type(even) 
.about p  {
padding-right: 20px;
}

.portfolio .project:nth-of-type(even) 
.about h2 {
text-indent: 0;
margin-left: 40px;
}
}
@media (orientation:landscape) and (min-width:1024px) {
    .portfolio h1 {
        font-size: 40px;
        padding: 20px 0;
    }

    .portfolio .about h2 {
        font-size: 28px;
        text-indent: 40px;
    }

    .portfolio .about p {
        font-size: 18px;
        padding-left: 40px;
    }

    .portfolio .project {
        margin-bottom: 40px;
    }

}
@media (orientation: landscape) and (min-width: 1400px) {
    .portfolio h1 {
      font-size: 60px;
      padding: 30px 0;
    }
  
    .portfolio .about h2 {
      padding-top: 50px;
      font-size: 28px;
      text-indent: 40px;
      margin-bottom: 50px;
    }
  
    .portfolio .about p {
      font-size: 18px;
      padding-left: 40px;
      line-height: 180%;
    }
  
    .portfolio .project {
      margin-bottom: 40px;
    }
  }
  /* Sekcja slogan */
  .slogan {
      text-align: center;
      background-image: url('motto.jpg');
      background-size: cover;
      background-position: center;
      color: white;
      background-attachment: fixed;
  }

  .slogan h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.slogan p {
    font-family: 'Saira';
    font-size: 18px;
}
.slogan p.author {
    font-size: 14px;
}
.slogan .bg {
    padding: 30px 10px;
    background-color: rgba(80, 125, 248, 0.6);
}

@media (orientantion:landscape) {

    .slogan p {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width:768px) {
    .slogan .bg {
        padding: 50px 10px;
    }
    .slogan h1 {
        font-size: 40px;
        margin-bottom: 35px;
    }
    .slogan p {
        font-size: 26px;
        width: 80%;
        margin: 0 auto;
    }
    .slogan p.author {
        margin-top: 20px;
        font-size: 20px;
    }
    
   
}
@media (min-width:1600px) {
    .slogan .bg {
        padding: 150px 10px;
    }
    .slogan h1 {
        font-size: 55px;
    }
    .slogan p {
        font-size: 34px;
        width: 80%;
        margin: 0 auto;
    }
    .slogan p.author {
        font-size:28px;
    }
    
   
}
/* moje hobby */
.hobby {
    max-width: 1920px;
    margin:0 auto;
}
 .hobby .item {
     height: 30vh;
     background-position: center;
     background-repeat: no-repeat;
     
 }
 .hobby .item:nth-of-type(1) {

     background-image: url('hobby1.jpg');
 }
 .hobby .item:nth-of-type(2) {

    background-image: url('hobby2.jpg');
}
.hobby .item:nth-of-type(3) {

    background-image: url('hobby3.jpg');
}
.hobby .item:nth-of-type(4) {

    background-image: url('hobby4.jpg');
}
.hobby .item p {
    font-family: 'Saira';
    color: white;
    text-align: center;
    line-height: 30vh;
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, .4);
}
.hobby h1 {
    font-family: 'Saira condensed';
    font-size: 28px;
    text-align: center;
    padding:20px 15px;
    text-transform: uppercase;
}

@media (min-width:533px)
{
    .hobby .item {
        float: left;
        width: 50%;
    }
}
@media (min-width:768px)    {
    .hobby h1 {
        font-size: 44px;
    }
    .hobby .item p {
        font-size:24px ;
        
    }
}
@media (min-width:1024px)    {
    .hobby h1 {
        font-size: 44px;
    }
    .hobby .item p {
        font-size:28px ;
        padding: 0;
        line-height: 30vh;
        opacity: 0;
        transition: 1s;
    }
    .hobby .item:hover p {
        opacity: 1;
    }
    .hobby .item {
        background-size: 100%;
        transition: 1s;
    }
    .hobby .item:hover {
        background-size: 120%;
    }

}

.contact {
    background-color: #000;
    padding: 30px 20px;
    
}
.contact h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}
.contact .wrap {
    padding-top: 20px;
    max-width: 1024px;
    margin:0 auto;
}
.contact input,
 .contact button,
  .contact textarea {
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Saira';
    padding: 5px;
    font-size: 12px;
}
.contact input {
    height: 36px;
}
.contact textarea {
    height: 120px;
}
.contact button {
    font-size: 14px;
    line-height: 40px;
    color: white;
    border: 2px solid white;
    background-color: black;
}
.contact .socials {
    padding-top: 30px;
}
.contact .social {
    padding: 10px 0;
    font-family: 'Saira';
    color: white;
    
}
.contact .social img {
    float: left;
}
.contact .social span {
    line-height: 72px;
    padding-left: 20px;
    float: left;
}
@media (min-width:1024px) {
    .contact input,
 .contact button,
  .contact textarea {
    margin-bottom: 35px;
}
.contact h1 {
    font-size: 32px;
}
    .contact form, .contact .socials {
        float: left;
        width: 50%;
    }
    .contact .social {
        display: block;
        width: 60%;
        margin: 0 auto;
    }
    
.contact input {
    height: 46px;
    font-size:24px ;
}
.contact textarea {
    height:180px;
    font-size: 24px;
    margin-bottom: 20px;
}
.contact button {
    font-size: 20px;
    line-height: 50px;
    transition: .3s;
    cursor: pointer;
}
.contact button:hover {
    background-color: white;
    color: black;

}
}
footer {
    line-height: 7vh;
    background-color: darkgoldenrod;
    text-align: center;
    font-family: 'Saira';
    font-size: 28px;
}
@media (min-width:320px)
{
    footer {
        font-size: 16px;
        line-height: 10vh;
    }
}

